n8n/workflows/cve-monitor.json
{
  "name": "Harbinger — CVE Monitor",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 4 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "={{$env.HARBINGER_API_URL || 'http://localhost:8080'}}/api/cve/kev",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.HARBINGER_TOKEN}}" }
          ]
        }
      },
      "name": "Fetch KEV Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "={{$env.HARBINGER_API_URL || 'http://localhost:8080'}}/api/cve/match",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "cves", "value": "={{$json.vulnerabilities}}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.HARBINGER_TOKEN}}" }
          ]
        }
      },
      "name": "Match Against Scope",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{$json.matches.length}}", "operation": "larger", "value2": 0 }]
        }
      },
      "name": "Has Matches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [860, 300]
    },
    {
      "parameters": {
        "functionCode": "const matches = items[0].json.matches;\nconst alerts = matches.map(m => ({\n  cve: m.cveId,\n  severity: m.severity,\n  target: m.matchedTarget,\n  description: m.description\n}));\nreturn [{json: {alerts, count: alerts.length}}];"
      },
      "name": "Format Alerts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "url": "={{$env.HARBINGER_API_URL || 'http://localhost:8080'}}/api/notifications",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "cve_alert" },
            { "name": "message", "value": "{{$json.count}} CVEs matched in-scope targets" },
            { "name": "data", "value": "={{JSON.stringify($json.alerts)}}" }
          ]
        }
      },
      "name": "Alert & Assign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch KEV Feed", "type": "main", "index": 0 }]] },
    "Fetch KEV Feed": { "main": [[{ "node": "Match Against Scope", "type": "main", "index": 0 }]] },
    "Match Against Scope": { "main": [[{ "node": "Has Matches?", "type": "main", "index": 0 }]] },
    "Has Matches?": { "main": [[{ "node": "Format Alerts", "type": "main", "index": 0 }], []] },
    "Format Alerts": { "main": [[{ "node": "Alert & Assign", "type": "main", "index": 0 }]] }
  }
}
